[submodule "cli-tools"]
	path = cli-tools
	url = git@github.com:icarus612/cliTools-lib-SH.git
[submodule "libs/bash/cli-tool"]
	path = libs/bash/cli-tool
	url = git@github.com:icarus612/cliTools-lib-SH.git
