[submodule "apps/cli/tools-installer"]
	path = apps/cli/tools-installer
	url = git@github.com:icarus612/toolsInstaller-app-cli.git
[submodule "apps/flask/weather-fortcast"]
	path = apps/flask/weather-fortcast
	url = git@github.com:icarus612/weatherFortcast-app-flask.git
[submodule "apps/flask/maze-runner"]
	path = apps/flask/maze-runner
	url = git@github.com:icarus612/mazeRunner-app-flask.git
[submodule "apps/flask/pokedex"]
	path = apps/flask/pokedex
	url = git@github.com:icarƒus612/pokedex-app-flask.git
[submodule "apps/microservices/market-bots"]
	path = apps/microservices/market-bots
	url = git@github.com:icarus612/marketbots-app-microservice.git
[submodule "apps/next/dev-icarus"]
	path = apps/next/dev-icarus
	url = git@github.com:icarus612/devicarus-app-next.git
[submodule "libs/bash/cli-tools"]
	path = libs/bash/cli-tools
	url = git@github.com:icarus612/cliTools-lib-SH.git
[submodule "libs/golang/maze-runner"]
	path = libs/golang/maze-runner
	url = git@github.com:icarus612/mazerunner-lib-go.git
[submodule "libs/golang/crud-server"]
	path = libs/golang/crud-server
	url = git@github.com:icarus612/crudserver-lib-go.git
[submodule "libs/python/web-crawlers"]
	path = libs/python/web-crawlers
	url = git@github.com:icarus612/webcrawlers-lib-py.git
[submodule "libs/python/pyto-widgets"]
	path = libs/python/pyto-widgets
	url = git@github.com:icarus612/pytowidgets-lib-py.git
[submodule "libs/python/cli-tools"]
	path = libs/python/cli-tools
	url = git@github.com:icarus612/clitools-lib-py.git
[submodule "libs/python/neural-networks/abstract-base-classes"]
	path = libs/python/neural-networks/abstract-base-classes
	url = git@github.com:icarus612/abc-ann-py.git
[submodule "libs/python/neural-networks/market-analyzer"]
	path = libs/python/neural-networks/market-analyzer
	url = git@github.com:icarus612/marketanalyzer-ann-py.git
[submodule "libs/python/neural-networks/digit-recognition"]
	path = libs/python/neural-networks/digit-recognition
	url = git@github.com:icarus612/digitrecognition-ann-py.git
[submodule "libs/python/neural-networks/open-ai-gym"]
	path = libs/python/neural-networks/open-ai-gym
	url = git@github.com:icarus612/openaigym-ann-py.git
[submodule "libs/javascript/node/dots-anime"]
	path = libs/javascript/node/dots-anime
	url = git@github.com:icarus612/dotsanime-node-js.git
[submodule "libs/javascript/node/maze-runner"]
	path = libs/javascript/node/maze-runner
	url = git@github.com:icarus612/mazerunner-node-js.git
[submodule "libs/javascript/node/web-crawlers"]
	path = libs/javascript/node/web-crawlers
	url = git@github.com:icarus612/webcrawlers-node-js.git
[submodule "libs/javascript/react/e-card"]
	path = libs/javascript/react/e-card
	url = git@github.com:icarus612/ecard-react-js.git
[submodule "libs/javascript/react/quote-builder"]
	path = libs/javascript/react/quote-builder
	url = git@github.com:icarus612/quotebuilder-react-js.git
[submodule "libs/javascript/react/maze-runner"]
	path = libs/javascript/react/maze-runner
	url = git@github.com:icarus612/mazerunner-react-js.git
[submodule "libs/javascript/react/quest"]
	path = libs/javascript/react/quest
	url = git@github.com:icarus612/quest-react-js.git
[submodule "libs/javascript/react/labyrinth"]
	path = libs/javascript/react/labyrinth
	url = git@github.com:icarus612/labyrinth-react-js.git
[submodule "libs/javascript/react/markdown-builder"]
	path = libs/javascript/react/markdown-builder
	url = git@github.com:icarus612/markdownbuilder-react-js.git
[submodule "libs/javascript/node/build-scripts"]
	path = libs/javascript/node/build-scripts
	url = git@github.com:icarus612/buildScripts-node-JS.git
[submodule "libs/python/maze-runner"]
	path = libs/python/maze-runner
	url = git@github.com:icarus612/mazeRunner-lib-PY.git
[submodule "libs/golang/logger"]
	path = libs/golang/logger
	url = git@github.com:icarus612/logger-lib-go.git
[submodule "libs/python/anki-tools"]
	path = libs/python/anki-tools
	url = git@github.com:icarus612/ankiTools-lib-py.git
[submodule "apps/svelte/anna-and-ellis-together-forever"]
	path = apps/svelte/anna-and-ellis-together-forever
	url = git@github.com:icarus612/annaAndEllisTogetherForever-app-svelte.git
[submodule "apps/next/maze-runner"]
	path = apps/next/maze-runner
	url = git@github.com:icarus612/mazeRunner-app-next.git
[submodule "libs/javascript/express/file-metadata-mircroservice"]
	path = libs/javascript/express/file-metadata-mircroservice
	url = git@github.com:icarus612/fileMetadataMicroservice-express-JS.git
[submodule "libs/javascript/react/dyode-landing"]
	path = libs/javascript/react/dyode-landing
	url = git@github.com:icarus612/dyodeLanding-reactJS.git
[submodule "libs/javascript/react/web-resume"]
	path = libs/javascript/react/web-resume
	url = git@github.com:icarus612/webResume-react-JS.git
